html, body { height: 100%; }
body{font:16px/24px "NobileRegular","Lucida Grande",Lucida,Verdana,sans-serif;}
a{color:#1b61d6;text-decoration:none;}
a:hover{color:#e88f00;text-decoration:underline;}
body h1, body h2, body h3, body h4, body h5, body h6{ font-family:"NeutonRegular","Lucida Grande",Lucida,Verdana,sans-serif;font-weight:normal;color:#373839;font-style:normal;}
section { min-height: 100%; }
header { background:#ffffff url(/assets/global/images/headerbg.png) repeat-x 0 top; text-align: center; }
header img { margin-top: 2em; }
footer {
	background:#000000 url(/assets/global/images/footerbg.png) repeat-x 0 top;
	font-size: 12px; color: white; text-align: center; padding:1em  0;
	margin-top: -5em; height: 3em; clear: both;
}
.middle { padding-top: 1.5em; padding-bottom: 1.5em; 
	background:url(/assets/global/images/middlebg.png) repeat-x;border-top:2px solid #ffffff;
	border-bottom:2px solid #b2b2b2;
}
.content { margin-top: 5em; padding-bottom: 5em; overflow: auto; }
.app-name { color:#000000;font-weight:bold; }
.right-align { text-align: right; }

@media (max-width: 768px) {
.right-align { text-align: left; }
.content { margin-top: 1em; margin-bottom: 1em; }
}

/* Opera Fix */
body: before {
	content:"";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}
